#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.hpp"
#include "rconfig.hpp"
#include "app.hpp"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDC_SETTINGS, VIRTKEY
	VK_F3, IDM_HOTKEYS, VIRTKEY
	"E", IDM_EXPLORE, CONTROL, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_EXPLORE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_HIDEME_CHK
		MENUITEM " ", IDM_CLASSICUI_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_TAKE_FULLSCREEN
		MENUITEM " ", IDM_TRAY_TAKE_WINDOW
		MENUITEM " ", IDM_TRAY_TAKE_REGION
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

IDM_SETTINGS MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_LOADONSTARTUP_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM "BMP", IDM_FORMAT_BMP
			MENUITEM "JPEG", IDM_FORMAT_JPG
			MENUITEM "PNG", IDM_FORMAT_PNG
			MENUITEM "GIF", IDM_FORMAT_GIF
			MENUITEM "TIFF", IDM_FORMAT_TIFF
		}
		MENUITEM " ", IDM_COPYTOCLIPBOARD_CHK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_PLAYSOUNDS_CHK
		MENUITEM " ", IDM_INCLUDEMOUSECURSOR_CHK
		MENUITEM " ", IDM_CLEARBACKGROUND_CHK
		MENUITEM " ", IDM_DISABLEAEROONWND_CHK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_HOTKEYS
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 268, 116
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_CAPTION | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_FOLDER, 8, 4, 252, 32

	EDITTEXT		IDC_FOLDER, 16, 16, 208, 12, ES_AUTOHSCROLL | ES_MULTILINE
	PUSHBUTTON		"...", IDC_BROWSE_BTN, 228, 16, 24, 12

	GROUPBOX		"", IDC_TITLE_SETTINGS, 8, 38, 124, 52

	AUTOCHECKBOX	" ", IDC_PLAYSOUNDS_CHK, 16, 50, 108, 10
	AUTOCHECKBOX	" ", IDC_INCLUDEMOUSECURSOR_CHK, 16, 62, 108, 10
	AUTOCHECKBOX	" ", IDC_CLEARBACKGROUND_CHK, 16, 74, 108, 10

	GROUPBOX		"", IDC_TITLE_MODE, 136, 38, 124, 52

	AUTORADIOBUTTON	"", IDC_MODE_FULLSCREEN, 144, 50, 108, 10
	AUTORADIOBUTTON	"", IDC_MODE_WINDOW, 144, 62, 108, 10
	AUTORADIOBUTTON	"", IDC_MODE_REGION, 144, 74, 108, 10

	PUSHBUTTON		"", IDC_SETTINGS, 8, 96, 60, 14

	PUSHBUTTON		"", IDC_SCREENSHOT, 136, 96, 60, 14
	PUSHBUTTON		"", IDC_EXIT, 200, 96, 60, 14
}

IDD_HOTKEYS DIALOGEX 0, 0, 226, 130
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_FULLSCREEN, 8, 4, 210, 32

	AUTOCHECKBOX	"Shift", IDC_FULLSCREEN_SHIFT, 16, 16, 34, 12, BS_VCENTER
	AUTOCHECKBOX	"Ctrl", IDC_FULLSCREEN_CTRL, 54, 16, 34, 12, BS_VCENTER
	AUTOCHECKBOX	"Alt", IDC_FULLSCREEN_ALT, 92, 16, 34, 12, BS_VCENTER

	COMBOBOX		IDC_FULLSCREEN_CB, 136, 16, 74, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_WINDOW, 8, 38, 210, 32

	AUTOCHECKBOX	"Shift", IDC_WINDOW_SHIFT, 16, 50, 34, 12, BS_VCENTER
	AUTOCHECKBOX	"Ctrl", IDC_WINDOW_CTRL, 54, 50, 34, 12, BS_VCENTER
	AUTOCHECKBOX	"Alt", IDC_WINDOW_ALT, 92, 50, 34, 12, BS_VCENTER

	COMBOBOX		IDC_WINDOW_CB, 136, 50, 74, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_REGION, 8, 72, 210, 32

	AUTOCHECKBOX	"Shift", IDC_REGION_SHIFT, 16, 84, 34, 12, BS_VCENTER
	AUTOCHECKBOX	"Ctrl", IDC_REGION_CTRL, 54, 84, 34, 12, BS_VCENTER
	AUTOCHECKBOX	"Alt", IDC_REGION_ALT, 92, 84, 34, 12, BS_VCENTER

	COMBOBOX		IDC_REGION_CB, 136, 84, 74, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	PUSHBUTTON		"", IDC_SAVE, 106, 110, 54, 14
	PUSHBUTTON		"", IDC_CANCEL, 164, 110, 54, 14
}

//
// String resources
//
STRINGTABLE
{
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "New version (%s) available. Open the download page?"

	IDS_FILE "File"
	IDS_EXPLORE "Open screenshots folder"
	IDS_EXIT "Exit"
	IDS_VIEW "View"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"
	IDS_DONATE "Give thanks!"

	IDS_TRAY_SHOW "Show/Hide"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_HIDEME_CHK "Hide main window before capture"
	IDS_CLASSICUI_CHK "Use classic interface (restart required)"

	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"
	IDS_COPYTOCLIPBOARD_CHK "Copy image to clipboard"
	IDS_DISABLEAEROONWND_CHK "Disable Aero effect on captured window"

	IDS_FOLDER "Screenshots folder"
	IDS_QUICKSETTINGS "Quick settings"
	IDS_MODE "Mode"
	IDS_IMAGEFORMAT "Image format"

	IDS_PLAYSOUNDS_CHK "Play capture sound"
	IDS_INCLUDEMOUSECURSOR_CHK "Include mouse cursor"
	IDS_CLEARBACKGROUND_CHK "Clear window background"

	IDS_MODE_FULLSCREEN "Fullscreen"
	IDS_MODE_WINDOW "Active window"
	IDS_MODE_REGION "Selected region"

	IDS_SETTINGS "Settings"
	IDS_SCREENSHOT "Screenshot"
	IDS_HOTKEYS "Hotkeys"

	IDS_DISABLE "Disable"
	IDS_WARNING_HOTKEYS "Hotkeys already in use!"

	IDS_SAVE "OK"
	IDS_CANCEL "Cancel"
}

//
// Wave resources
//
IDW_MAIN		WAVE		"res\\1.wav"

// Cursor resources
//
IDI_MAIN		CURSOR		"res\\100.cur"

// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", _APP_WEBSITE_URL
			VALUE "CompanyName", _APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
