#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDC_SETTINGS, VIRTKEY
	VK_F3, IDM_HOTKEYS, VIRTKEY
	VK_F4, IDM_TRAY_SHOW, ALT, VIRTKEY
	"1", IDM_TAKE_FULLSCREEN, CONTROL, VIRTKEY
	"2", IDM_TAKE_MONITOR, CONTROL, VIRTKEY
	"3", IDM_TAKE_WINDOW, CONTROL, VIRTKEY
	"4", IDM_TAKE_REGION, CONTROL, VIRTKEY
	"E", IDM_EXPLORE, CONTROL, VIRTKEY
	"W", IDM_TRAY_SHOW, CONTROL, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_EXPLORE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_LOADONSTARTUP_CHK
		MENUITEM " ", IDM_STARTMINIMIZED_CHK
		MENUITEM " ", IDM_HIDEME_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_TAKE_FULLSCREEN
		MENUITEM " ", IDM_TAKE_MONITOR
		MENUITEM " ", IDM_TAKE_WINDOW
		MENUITEM " ", IDM_TAKE_REGION
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_TAKE_FULLSCREEN
		MENUITEM " ", IDM_TRAY_TAKE_MONITOR
		MENUITEM " ", IDM_TRAY_TAKE_WINDOW
		MENUITEM " ", IDM_TRAY_TAKE_REGION
		MENUITEM SEPARATOR
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

IDM_SETTINGS MENU
{
	POPUP ""
	{
		POPUP " "
		{
			MENUITEM SEPARATOR
		}
		POPUP " "
		{
			MENUITEM " ", IDM_FILENAME_INDEX
			MENUITEM " ", IDM_FILENAME_DATE
		}
		POPUP " "
		{
			MENUITEM " ", IDM_DELAY_DISABLE
			MENUITEM SEPARATOR
		}
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_INCLUDEMOUSECURSOR_CHK
		MENUITEM " ", IDM_INCLUDEWINDOWSHADOW_CHK
		MENUITEM " ", IDM_CLEARBACKGROUND_CHK
		MENUITEM " ", IDM_DISABLEAEROONWND_CHK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_COPYTOCLIPBOARD_CHK
		MENUITEM " ", IDM_PLAYSOUNDS_CHK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_HOTKEYS
	}
}

IDM_REGION MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_REGION_START
		MENUITEM " ", IDM_REGION_CANCEL
		MENUITEM SEPARATOR
		MENUITEM " ", IDC_STATIC
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 268, 116
STYLE WS_POPUPWINDOW | WS_MINIMIZEBOX | WS_CAPTION | DS_SHELLFONT | DS_MODALFRAME | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_FOLDER, 8, 4, 252, 32, WS_GROUP

	EDITTEXT		IDC_FOLDER, 16, 16, 208, 12, ES_AUTOHSCROLL | ES_MULTILINE
	PUSHBUTTON		"...", IDC_BROWSE_BTN, 228, 16, 24, 12, WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_SETTINGS, 8, 38, 124, 52, WS_GROUP

	AUTOCHECKBOX	" ", IDC_INCLUDEMOUSECURSOR_CHK, 16, 50, 108, 10, WS_TABSTOP
	AUTOCHECKBOX	" ", IDC_INCLUDEWINDOWSHADOW_CHK, 16, 62, 108, 10, WS_TABSTOP
	AUTOCHECKBOX	" ", IDC_CLEARBACKGROUND_CHK, 16, 74, 108, 10, WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_MODE, 136, 38, 124, 52, WS_GROUP

	AUTORADIOBUTTON	"", IDC_MODE_MONITOR, 144, 50, 108, 10, WS_TABSTOP
	AUTORADIOBUTTON	"", IDC_MODE_WINDOW, 144, 62, 108, 10, WS_TABSTOP
	AUTORADIOBUTTON	"", IDC_MODE_REGION, 144, 74, 108, 10, WS_TABSTOP

	PUSHBUTTON		"", IDC_SETTINGS, 8, 96, 60, 14, WS_TABSTOP | BS_SPLITBUTTON

	PUSHBUTTON		"", IDC_SCREENSHOT, 136, 96, 60, 14, WS_TABSTOP
	PUSHBUTTON		"", IDC_EXIT, 200, 96, 60, 14, WS_TABSTOP
}

IDD_DUMMY DIALOGEX 0, 0, 20, 20
STYLE WS_POPUP | WS_CLIPCHILDREN | WS_CLIPSIBLINGS | DS_SHELLFONT | NOT WS_VISIBLE
FONT 8, "Ms Shell Dlg"
BEGIN
	//CONTROL			"", IDC_STATIC, WC_STATIC, SS_OWNERDRAW, 0, 0, 20, 20
END

IDD_SETTINGS_HOTKEYS DIALOGEX 0, 0, 274, 170
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	GROUPBOX		"", IDC_TITLE_FULLSCREEN, 6, 4, 258, 32, WS_GROUP

	AUTOCHECKBOX	"Shift", IDC_FULLSCREEN_SHIFT, 14, 16, 38, 12
	AUTOCHECKBOX	"Ctrl", IDC_FULLSCREEN_CTRL, 54, 16, 38, 12
	AUTOCHECKBOX	"Alt", IDC_FULLSCREEN_ALT, 96, 16, 38, 12

	COMBOBOX		IDC_FULLSCREEN_CB, 150, 16, 106, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_MONITOR, 6, 36, 258, 32, WS_GROUP

	AUTOCHECKBOX	"Shift", IDC_MONITOR_SHIFT, 14, 48, 38, 12
	AUTOCHECKBOX	"Ctrl", IDC_MONITOR_CTRL, 54, 48, 38, 12
	AUTOCHECKBOX	"Alt", IDC_MONITOR_ALT, 96, 48, 38, 12

	COMBOBOX		IDC_MONITOR_CB, 150, 48, 106, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_WINDOW, 6, 68, 258, 32, WS_GROUP

	AUTOCHECKBOX	"Shift", IDC_WINDOW_SHIFT, 14, 80, 38, 12
	AUTOCHECKBOX	"Ctrl", IDC_WINDOW_CTRL, 54, 80, 38, 12
	AUTOCHECKBOX	"Alt", IDC_WINDOW_ALT, 96, 80, 38, 12

	COMBOBOX		IDC_WINDOW_CB, 150, 80, 106, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

	GROUPBOX		"", IDC_TITLE_REGION, 6, 100, 258, 32, WS_GROUP

	AUTOCHECKBOX	"Shift", IDC_REGION_SHIFT, 14, 112, 38, 12
	AUTOCHECKBOX	"Ctrl", IDC_REGION_CTRL, 54, 112, 38, 12
	AUTOCHECKBOX	"Alt", IDC_REGION_ALT, 96, 112, 38, 12

	COMBOBOX		IDC_REGION_CB, 150, 112, 106, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
}

//
// String resources
//
STRINGTABLE
{
	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "Update available, download and install them?"
	IDS_UPDATE_DOWNLOAD "Downloading update..."
	IDS_UPDATE_DONE "Downloading update finished."
	IDS_UPDATE_ERROR "Update server connection error."
	IDS_UPDATE_INIT "Checking for new releases..."
	IDS_UPDATE_INSTALL "Update available, do you want to install them?"

	IDS_FILE "File"
	IDS_EXPLORE "Open screenshots folder"
	IDS_EXIT "Exit"
	IDS_VIEW "View"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"
	IDS_DONATE "Give thanks!"

	IDS_TRAY_SHOW "Show/Hide"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_HIDEME_CHK "Hide main window before capture"

	IDS_STARTMINIMIZED_CHK "Start minimized"
	IDS_LOADONSTARTUP_CHK "Load on system startup"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"
	IDS_COPYTOCLIPBOARD_CHK "Copy image to clipboard"
	IDS_DISABLEAEROONWND_CHK "Disable Aero effect on captured window"

	IDS_LANGUAGE_HINT "Select language:"

	IDS_FOLDER "Screenshots folder"
	IDS_QUICKSETTINGS "Quick settings"
	IDS_MODE "Mode"
	IDS_FILENAME "Filename"
	IDS_IMAGEFORMAT "Image format"

	IDS_PLAYSOUNDS_CHK "Play capture sound"
	IDS_INCLUDEMOUSECURSOR_CHK "Include mouse cursor"
	IDS_INCLUDEWINDOWSHADOW_CHK "Include window shadow"
	IDS_CLEARBACKGROUND_CHK "Clear window background"

	IDS_MODE_FULLSCREEN "Fullscreen"
	IDS_MODE_WINDOW "Window"
	IDS_MODE_REGION "Selected region"

	IDS_SETTINGS "Settings"
	IDS_SCREENSHOT "Screenshot"
	IDS_HOTKEYS "Hotkeys"

	IDS_DISABLE "Disable"
	IDS_WARNING_HOTKEYS "Hotkeys are already in use! Repeat?"

	IDS_SAVE "OK"
	IDS_CLOSE "Close"
	IDS_RESET "Reset"

	IDS_DELAY "Delay"

	IDS_MODE_MONITOR "Current monitor"
}

//
// Wave resources
//
IDW_MAIN		WAVE		"res\\1.wav"

// Cursor resources
//
IDI_MAIN		CURSOR		"res\\100.cur"

// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
